.location-tracker-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 55PX;
    width: 800px;
    border-radius: 8px;
    background-color: white;
    color: #888787;
    margin-top:20px;
    box-shadow:1px 1px 1px 1px rgb(233, 233, 233);
}